
@media screen and (max-width: 576px){
    .main-header{
        height: auto;
    }
    .main-header .container .navbar .right-side ul {
        display: none;
    }

    .main-header .container .navbar .right-side i{
        display: block;
        font-size: 30px;
    }

    .main-banner .banner-content {
        display: block;
  
    }
    .main-banner .banner-content .left-side h1 span {
        font-size: 10rem;
    }

    .main-banner .banner-content .left-side h1 {
        margin-top: 60px;
        font-size: 50px;
        line-height: 49px;
    }

    .main-banner .banner-content .right-side .text-content2 {
        left: 16px;
    }

/* changes your habits  */
    .hading h2 {
        font-size: 32px;
    }

    .main-habits .container .habits-content {
        display: block;

    }

    /* run section start  */

    .run-section .container .run-content {
      flex-direction: column;
      padding: 20px;
   
    }

    .run-section .container .run-content .left-side .text h2 {
        font-size: 32px;

    }
  
    .run-section .container .run-content .right-side .img img {
        width: 100%;
    }

    .run-section .container .run-content .left-side .text a {
        padding: 10px 20px;
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    .run-section .container .run-content .left-side {
        width: 100%;
    } 

    .trainer-section{
        display: none;
    }
    /* .trainer-section .main-trainings .box-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .trainer-section .main-trainings .box-1 .img:nth-child(3){
        display: none;
    }
       
    .trainer-section .main-trainings .box-2 {
        display: grid;
        grid-template-columns: 185px 220px;
    }
    .trainer-section .main-trainings .box-2 .img:nth-child(3){
        display: none;
    } */
 
    /* bmi clacolator section design start  */
    .hading-2{
        text-align: left;
        padding: 0 20px;
    }

    .main-calculator {
        margin-top: 50px;
    }
    .main-calculator .container .calculator-content {
       flex-direction: column;
    }

    .main-calculator .container .calculator-content .left-side h2 {
        font-size: 32px;
        padding-bottom: 40px;
    }

    .main-calculator .container .calculator-content .left-side table {
        width: 100%;
    }

    .main-calculator .container .calculator-content .right-side .hading-text h2 {
        font-size: 32px;
    }

    /* meet section design start  */
    .hading-3{
        padding: 0 20px;
    }

    .meet-section .container {
        margin-top: 0;

    }

    .meet-gallery .img {
        margin-bottom: 20px;
    }

    .meet-section .meet-gallery {
        display: block;
    }

/* footer section responsive  */
footer .footer-content {
	flex-direction: column;
}

footer .footer-content .footer-box {
	margin-bottom: 45px;
}

footer .footer-content .footer-box2{
    margin-bottom: 45px;
}

footer hr{
    margin-top: 10px;
}
    
}

@media screen and (min-width: 350px) and (max-width: 450px){

    .main-banner .banner-content .left-side .btn a {
        padding: 10px 39px;
        margin-top: 20px;
        display: inline-block;
    }

    .main-banner .banner-content .left-side .btn a:last-child {
        margin-left: 0px;
    }
}