* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: white;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0  25px;
}

:root {
    --praimary-color: ;
    --secondary-color: ;
    --white-color: white;
    --black-color: black;
    --red-color: red;
    --box-shado: ;
    --btn-color: ;
    --gray-color: gray;

}

section {
    margin: 50px 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.hading {
    text-align: center;
    color: var(--white-color);
}

.hading h2 {
    font-size: 50px;
    padding-bottom: 15px;
}

p {
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
}

/* this is header section design start  */
body {
    background-color: var(--black-color);
}

header {
    background: linear-gradient(to right, #000000, #434343);
    color: var(--white-color);
}

.main-header {
    padding-top: 40px;

}

.main-header .container .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header .container .navbar .left-side a {
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
}

.main-header .container .img img{
    width: 100%;
}
.main-header .navbar .right-side ul {
    border: 1px solid var(--gray-color);
    border-radius: 30px;
    height: 46px;
    align-content: center;
    padding-left: 2px;
}

.main-header .container .navbar .right-side ul li {
    display: inline-block;
    padding-left: 2rem;

}

.main-header .container .navbar .right-side i{
    display: none;
}

.main-header .container .navbar .right-side ul li:first-child {
    padding-left: 0;
}

.main-header .container .navbar .right-side ul li a {
    font-size: 1.125rem;
    color: var(--white-color);
}

.main-header .container .navbar .right-side ul li:first-child {
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 10px 20px;
}

.main-header .container .navbar .right-side ul li:last-child {
    padding-right: 1.9rem;
}

/* banner section design start  */

.main-banner .banner-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    align-items: center;

}

.main-banner .banner-content .left-side .img {
    display: flex;
    justify-content: end;
    align-items: end;
    height: 100%;
    align-content: end;
    margin-top: 35px;
}

.main-banner .banner-content .left-side .img img {
    width: 100%;
}

.main-banner .banner-content .left-side h1 {
    font-size: 70px;
    font-weight: 900;
    padding-bottom: 22px;
    line-height: 85px;
}


.main-banner .banner-content .left-side h1 span {
    font-family: "Miss Fajardose", cursive;
    font-size: 10rem;

}

.main-banner .banner-content .left-side .btn {
    margin-top: 40px;
}

.main-banner .banner-content .left-side .btn a {
    padding: 10px 30px;
    background-color: rgb(230, 83, 60);
    color: var(--white-color);
    border-radius: 25px;
    border: 1px solid rgb(230, 83, 60);
}

.main-banner .banner-content .left-side .btn a:hover {
    border: 1px solid var(--white-color);
    background-color: transparent;
}

.main-banner .banner-content .left-side .btn a:last-child {
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid var(--white-color);
    border-radius: 42px;
    margin-left: 20px;

}

.main-banner .banner-content .left-side .btn a:last-child:hover {
    background-color: rgb(230, 83, 60);
    border: 1px solid rgb(230, 83, 60);
}

.main-banner .banner-content .right-side {
    text-align: center;
}

.main-banner .banner-content .right-side .img {
    position: relative;
    margin-top: 50px;
}

.main-banner .banner-content .right-side .text-content {
	position: absolute;
	top: 208px;
	width: 193px;
	height: 98px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 12px;
	backdrop-filter: blur(20px);
	background: rgba(255, 255, 255, 0.1);
	color: var(--white-color);
	right: 12px;
	align-items: center;
	align-content: center;
}

.main-banner .banner-content .right-side .text-content2 {
    position: absolute;
    display: flex;
    gap: 15px;
    align-items: center;
    width: 193px;
    height: 98px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    color: var(--white-color);
    bottom: 65px;
    left: -27px;
}

/* banner section end  */
/* this header section design end  */

/* Main section design start  */
/* this is changes habits section  */
.main-habits .container .habits-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.main-habits .container .habits-content .card {
    margin-top: 54px;
    text-align: center;
}

.main-habits .container .habits-content .card .img img {
    border-radius: 50%;
    border: 4px solid var(--gray-color);
    margin-bottom: 30px;
}

.main-habits .container .habits-content .card h2 {
    margin-bottom: 15px;
}

/* run section design start  */
.run-section {
    margin-top: 40px;
}

.run-section .container .run-content {
    display: flex;
    justify-content: space-between;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 30px 30px 25px;
}


.run-section .container .run-content .left-side {
    width: 443px;
}

.run-section .container .run-content .left-side .text h2 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 15px;

}

.run-section .container .run-content .left-side .text a {
    background-color: rgb(230, 83, 60);
    padding: 10px 40px;
    margin-top: 35px;
    display: inline-block;
    border-radius: 30px;
}

.run-section .container .run-content .right-side .img img {
    width: 366px;
    height: 312px;
    border-radius: 10px;
    object-fit: cover;
}
/* Trainings design section  */
.trainer-section  .hading{
    text-align: left;
    margin-bottom: 50px;
}
.trainer-section .main-trainings .box-1{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.trainer-section .main-trainings .box-1 .img img{
    width: 100%;
    height: 100%;
}

.trainer-section .main-trainings .box-1 .img{
    position: relative;
}


.trainer-section .main-trainings .box-1 .img .bg{
    position: absolute;
    bottom: 0px;
    background-color: green;
}
.trainer-section .main-trainings .box-1 .img .content{
    position: absolute;
    bottom: 20px;
    background-color: rgba(6, 255, 210, 0.5),url(3);
}
.trainer-section .main-trainings .box-2 {
	display: grid;
	grid-template-columns: 438px 300px auto;
}

.trainer-section .main-trainings .box-2 .img img{
    width: 100%;
    height: 100%;
}
/* main calculator section design start  */

.main-calculator {
    margin-top: 70px;
}

.main-calculator .container .calculator-content {
    display: flex;
    gap: 140px;

}

.main-calculator .container .calculator-content .left-side h2 {
    font-size: 38px;
    font-weight: 900;
    padding-bottom: 80px;
}

.main-calculator .container .calculator-content .left-side table {
    border-collapse: collapse;
    width: 400px;
}


.main-calculator .container .calculator-content .left-side table th {
    font-size: 20px;
    font-weight: 500;
}

.main-calculator .container .calculator-content table,
th,
td {
    border: 1px solid var(--gray-color);

}

.main-calculator .container .calculator-content .left-side table th,
td {
    padding: 20px;
    text-align: left;

}

.main-calculator .container .calculator-content .right-side .hading-text {
    margin-bottom: 40px;
}

.main-calculator .container .calculator-content .right-side .hading-text h2 {
    font-size: 40px;
    font-weight: 900;
    padding-bottom: 20px;
}

/* input section  design start  */
.main-calculator {
    background: rgb(34, 34, 34);
    margin-top: 100px;
    margin-bottom: 70px;
    padding: 55px 0;
}

.main-calculator .container .hading {
    margin-bottom: 100px;
}

.main-calculator .container .calculator-content .right-side form input,
select,
option, .select {
    background: rgba(255, 255, 255, 0.1);
}

.main-calculator .container .calculator-content .right-side form .input1 {
    display: flex;
    gap: 15px;
}

.main-calculator .container .calculator-content .right-side form .input1 input {
    width: 100%;
    padding: 20px;
    border-radius: 12px;
    box-sizing: border-box;
    margin-bottom: 15px;
    border-radius: 8px;

}

.main-calculator .container .calculator-content .right-side form .input2 {
    display: flex;
    gap: 15px;

}

.main-calculator .container .calculator-content .right-side form .input2 input,
select {
    width: 100%;
    padding: 20px;
    border-radius: 12px;
    box-sizing: border-box;

}

.main-calculator .container .calculator-content .right-side form .select {
    padding: 20px;
    margin-top: 15px;
    border-radius: 12px;
}
 option{
    color: var(--black-color);
}
.main-calculator .container .calculator-content .right-side form button {
    background-color: rgb(230, 83, 60);
    padding: 20px 20px;
    width: 200px;
    margin-top: 30px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
}

/* meet section design start  */
.meet-section {
    margin-top: 70px;

}

.meet-section .meet-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.meet-section .container {
    background: rgb(34, 34, 34);
    margin-top: 100px;
    margin-bottom: 70px;
    padding: 20px;
    border-radius: 10px;
}

.meet-gallery .img {
    position: relative;
    overflow: hidden;
}

.meet-section .meet-gallery .img img {
    width: 100%;
    height: 300px;
    transition: .4s ease-in;
    border-radius: 10px;
}

.meet-section .meet-gallery .img:hover img {
    transform: scale(1.2);
}

.meet-section .meet-gallery .img .img-text {
    position: absolute;
    left: 20px;
    bottom: 20px;
}

/* Main section design end  */

/* footer section design start  */
footer{
    background: rgba(255, 255, 255, 0.1);
    padding-top: 60px;
}
footer .footer-content {
    display: flex;
    justify-content: space-between;
}

footer .footer-content .footer-box a {
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 70px;
    font-weight: 800;
    display: inline-block;
    margin-bottom: 20px;
    font-style: italic;

}

footer .footer-content .footer-box{
    width: 300px;
}
footer .footer-content .footer-box2 h2{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
}

footer .footer-content .footer-box2 p{
    padding-bottom: 10px;
    font-size: 20px;
}

footer hr{
    margin-top: 70px;
}
/* bottom footer  */
.bottom-footer .container .bottom p{
   font-size: 20px;
   text-align: center;
   padding: 30px 0;
 
}
/* footer section design end  */