* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

:root {
    --praimary-color: ;
    --secondary-color: ;
    --white-color: white;
    --black-color: black;
    --red-color: red;
    --box-shado: ;
    --btn-color: ;
    --gray-color: gray;

}

section {
    margin: 50px 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* this is header section design start  */
header {
    background: linear-gradient(to right, #000000, #434343);
    height: 700px;
    color: var(--white-color);
}

.main-header {
    padding-top: 40px;

}

.main-header .container .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header .container .navbar .left-side a {
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
}

.main-header .container .navbar .right-side ul {
    border: 1px solid var(--gray-color);
    border-radius: 30px;
    height: 46px;
    align-content: center;
    padding-left: 2px;
}

.main-header .container .navbar .right-side ul li {
    display: inline-block;
    padding-left: 2rem;


}

.main-header .container .navbar .right-side ul li:first-child {
    padding-left: 0;
}

.main-header .container .navbar .right-side ul li a {
    font-size: 1.125rem;
    color: var(--white-color);
}

.main-header .container .navbar .right-side ul li:first-child {
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 10px 20px;
}

.main-header .container .navbar .right-side ul li:last-child {
    padding-right: 1.9rem;
}

/* banner section design start  */
.main-banner .container .banner-content {
    display: flex;
    align-items: center;
    height: 100%;
}

.main-banner .container .banner-content .left-side {
    position: absolute;
    top: 199px;
}

.main-banner .container .banner-content .left-side h1 {
    font-size: 70px;
    font-weight: 900;
    padding-bottom: 22px;
    line-height: 85px;
}

.main-banner .container .banner-content .left-side h1 span {
    font-family: 'Allura', cursive;
    font-size: 7rem;

}

.main-banner .container .banner-content .left-side p {
    width: 490px;
}

.main-banner .container .banner-content .left-side .btn {
    margin-top: 40px;
}

.main-banner .container .banner-content .left-side .btn a {
    padding: 10px 30px;
    background-color: rgb(230, 83, 60);
    color: var(--white-color);
    border-radius: 25px;
    border: 1px solid rgb(230, 83, 60);
}

.main-banner .container .banner-content .left-side .btn a:hover {
    border: 1px solid var(--white-color);
    background-color: transparent;
}

.main-banner .container .banner-content .left-side .btn a:last-child {
    background-color: transparent;
    box-sizing: border-box;
    border: 1px solid var(--white-color);
    border-radius: 42px;
    margin-left: 20px;

}

.main-banner .container .banner-content .left-side .btn a:last-child:hover {
    background-color: rgb(230, 83, 60);
    border: 1px solid rgb(230, 83, 60);
}

/* banner content right side design  */
.main-banner .container .banner-content .right-side {
    position: absolute;
    width: 349px;
    height: 580px;
    left: 920px;
    top: 120px;
}

.main-banner .container .banner-content .right-side .text-content {
    width: 193px;
    height: 98px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    color: var(--white-color);
    margin-top: -473px;
    margin-left: 220px;
    padding-left: 19px;
}


.main-banner .container .banner-content .right-side .text-content h2 {
    margin-top: 22px;
}

.main-banner .container .banner-content .right-side .text-content2 {
	display: flex;
    gap: 15px;
    align-items: center;
	width: 193px;
	height: 98px;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 12px;
	backdrop-filter: blur(20px);
	background: rgba(255, 255, 255, 0.1);
	color: var(--white-color);
	margin-top: 223px;
	margin-left: -108px;
	padding-left: 19px;
	
}

.main-banner .container .banner-content .right-side .text-content2 .circle {
    width: 40px;
    height: 40px;
    background: rgb(230, 83, 60);
    border-radius: 50%;

}

.main-banner .container .banner-content .right-side .text-content2 h2 {
    /* margin-top: 22px; */
}

/* this header section design end  */

/* Main section design start  */

/* Main section design end  */

/* footer section design start  */

/* footer section design end  */